/*
 * Globals
 */

body {
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Hoefler Text", Georgia, "Lucida Bright", Cambria, Times, "Times New Roman", serif;
  color: #555;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


.tag-list{
  display: inline;
  position: relative;
  bottom: 2px;
}
#search:before {
    color:  rgb(182,182,182);
    font-family: 'FontAwesome';
    content: "\f002";
    font-size: 20px;
    margin-top: 6px;
    right: 15px;
    position: absolute;
}

#search input {
    width: 100%;
    font-size: 1em;
    border: 1px rgb(220,220,220) solid;
    /*border: none;*/
    border-radius: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 12px 40px 12px 15px;
}
#search input:focus{
    border: 1px solid #337AB7;
    border-radius: 20px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0 ;
}


input {
    -webkit-appearance: textfield;
    /*background-color: rgb(242,242,242);*/
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    padding: 1px;
    border: 2px inset;
}

input, textarea, keygen, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em 0em 0em 0em;
    font: 14px BlinkMacSystemFont;
}

input, textarea, keygen, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb;
}

.page-navigation{
  background-color: rgb(242,242,242);
  border-radius: 4px;
}

.page-navigation a{
  margin: 10px 10px;
}
/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.label{
  padding: .3em .6em .2em;
}
.label-default {
    background-color: #BBB;
}

/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

.link-readmore:after {
    content: " ›";
    font-size: 1.2em;
}

/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module-inset-zero {
  padding: 0px;
  margin: 0 -15px 15px;
}

.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > a {
  /*width: 140px;*/
  border: 1px rgb(220,220,220) solid;
  padding: 10px 20px;
  text-align: center;
  border-radius: 4px;
}

.pager-unactive{
  color:rgb(200,200,200);
}

/*
 * Blog posts
 */

.post {
  margin-bottom: 60px;
}
div.post h2:first-child {
  margin-bottom: 5px;
  font-size: 30px;
}
div.post h2:first-child a:hover {
  text-decoration: none;
}
.meta {
  margin-bottom: 20px;
  color: #999;
}

.previous-chapter{
  float: left;
}
.next-chapter{
  float: right;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
